.booking-time {
    display: table-row;
}
.booking-hour {
    display: table-cell!important;
    width: 30% !important;
}
.booking-minute {
    display: table-cell!important;
    width: 30% !important;
    margin: 0 13px 0 13px;
}
.booking-day {
    display: table-cell!important;
    width: 30% !important;
}
.booking-button {
    margin: 0 auto;
}